<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<body>
<div class="container">
  <div class="wrapper">
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3>Menu Colaborador</h3>
      </div>

      <ul class="list-unstyled components">
        <li>
          <a href="#">Solicitar EPI (formulário)</a>
        </li>
        <li>
          <a href="#">Minhas solicitações</a>
        </li>
        <li>
          <a href="#">Termo</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
</body>
