<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<body>
  <div class="container">
    <div class="wrapper">
      <nav id="sidebar">
        <div class="sidebar-header">
          <h3>Menu Colaborador</h3>
        </div>

        <ul class="list-unstyled components">
          <li>
            <a href="#">Solicitar EPI (formulário)</a>
          </li>
          <li>
            <a href="#">Minhas solicitações</a>
          </li>
          <li>
            <a href="#">Termo</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <form>
    <div class="form-group">
      <label for="exampleFormControlInput1">SAP*</label>
      <input type="sap" class="form-control" id="exampleFormControlInput1" />
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Nome:</label>
      <input type="nome" class="form-control" id="exampleFormControlInput1" />
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Empresa:</label>
      <input
        type="empresa"
        class="form-control"
        id="exampleFormControlInput1"
      />
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Setor:</label>
      <input type="setor" class="form-control" id="exampleFormControlInput1" />
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Selecione o EPI?</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>óculos Segurança Sobrepor</option>
        <option>Protetor Auricular tipo Concha</option>
        <option>Luva Nitrílica 8M</option>
        <option>luva Volk Brasil 7P</option>
        <option>Bota Segurança Branca 34</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Motivo da solicitação:</label>
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
  </form>
</body>
