.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}
.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 300px;
  max-width: 250px;
  min-height: 100vh;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  background: #eeffdb;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar {
  background: #6dcc9c;
  color: rgb(0, 0, 0);
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #62b88d;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 10px solid #000000;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: #7386d5;
  background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded='true'] {
  color: #fff;
  background: #6d7fcc;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}
.formulario {
  background: linear-gradient(#ffe4e1, #db7093);
}
form {
  margin: 0 auto;
  width: 500px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}
form label {
  display: block;
  font-size: 20px;
  margin: 0px 0 20px;
  font-family: 'Gotu', sans-serif;
  font-weight: bold;
}
.input-padrao {
  display: block;
  margin: 0 0 20px;
  width: 50%;
  padding: 10px;
}

div {
  display: inline-block;
}
